In [1]:
miFloat = 3.5

In [2]:
print(mifloat)

NameError: name 'mifloat' is not defined

In [3]:
print(miFloat)

3.5

In [6]:
miVariable1 = True
miVariable2 = True
resultado = miVariable1 and miVariable2
print(resultado)

True

In [7]:
miVariable1 = True
miVariable2 = False
resultado = miVariable1 and miVariable2
print(resultado)

False

In [8]:
miVariable1 = True
miVariable2 = False
resultado = miVariable1 or miVariable2
print(resultado)

True

In [9]:
miVariable1 = True
miVariable2 = False
resultado = not miVariable1 
print(resultado)

False

In [10]:
miVariable1 = True
miVariable2 = False
resultado1 = miVariable1 or miVariable2
print(resultado1)

True

In [12]:
miVariable1 = False
miVariable2 = False
resultado2 = miVariable1 or miVariable2
print(resultado2)

False

In [13]:
miVariable1 = True
miVariable2 = True
resultado3 = miVariable1 or miVariable2
print(resultado3)

True

In [14]:
miVariable1 = False
miVariable2 = True
resultado4 = miVariable1 or miVariable2
print(resultado4)

True

In [15]:
miVariable1 = True
miVariable2 = False
resultado1 = miVariable1 and miVariable2
print(resultado1)

False

In [16]:
miVariable1 = True
miVariable2 = True
resultado2 = miVariable1 and miVariable2
print(resultado2)

True

In [18]:
miVariable1 = False
miVariable2 = False
resultado3 = miVariable1 and miVariable2
print(resultado3)

False

In [19]:
miVariable1 = True
miVariable2 = False
resultado4 = miVariable1 and miVariable2
print(resultado4)

False

In [20]:
miIgualdad = 100
miComparacion = 100
miIgualdad == miComparacion

True

In [21]:
miIgualdad = 100
miComparacion = 1000
miIgualdad == miComparacion

False

In [22]:
miIgualdad = 100
miComparacion = 1000
miIgualdad != miComparacion

True

In [23]:
texto1 = "aa"
texto2 = "a"*2
print(texto2)

aa

In [25]:
miPrueba1 = 100
miPrueba2 = "Hola "
miPrueba1 * miPrueba2

'Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola '

In [26]:
mivariablePadre ="El papa"
mivariableHijo = mivariablePadre
mivariableHijo is mivariablePadre

True

In [27]:
mivariablePadre ="El papa"
mivariableHijo = mivariablePadre
mivariableAbuelo = "Abuelo"
mivariableAbuelo is mivariablePadre

False

In [28]:
miEdad1 = 20
miEdad2 = 30
miEdad1 > miEdad2

False

In [29]:
miEdad1 = 20
miEdad2 = 30
miEdad1 < miEdad2

True

In [30]:
calculo1 = 23
calculo2 = 4
calculo1/calculo2

5.75

In [31]:
calculo1 = 23
calculo2 = 4
calculo1%calculo2

3

In [32]:
calculo1 = 23
calculo2 = 4
calculo1//calculo2

5

In [33]:
calculo1 = 23
calculo2 = 4
calculo1**calculo2

279841